layout {
    tab name="Code" focus=true {

        pane size=1 borderless=true {
            plugin location="tab-bar"
        }

        pane split_direction="horizontal" size="70%" {
            pane split_direction="vertical" {
                pane size="70%" name="lazyvim" command="nvim" focus=true
                pane name="Claude Code" command="claude"

            }
        }

        pane size="20%" name="ghostty"

        pane size=1 borderless=true {
            plugin location="status-bar"
        }

    }

    new_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }

        pane

        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
}
